@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* shared style */
/* .body{
    margin-left: 140px;
    margin-right: 140px;
} */
.btn-primary{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
}
.color-1{
  color: rgb(254, 163, 1);
}
.color-2{
    color:rgb(1, 172, 253) ;
}
.color-3{
    color: rgb(17, 17, 17);
}
    
 .color-4{
    border-radius: 30px;
background: rgb(149, 178, 38);
}

.color-6{
    border-radius: 30px;
background: rgb(93, 88, 240);
}
 


/* header section */
header{
    width: 100%;
    background: rgb(247, 247, 247);
}

/* nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
}
.icon{
    display: none;
}
.nav-logo{
    display: flex;
    gap: 11px;
}
.nav-logo img{
width: 100%;
}
.nav-ul ul{
    display: flex;
    gap: 32px;
}
.nav-ul a{
    text-decoration: none;

}
.nav-ul li{
    list-style: none;
}
.home{
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
}
.about{
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 500;

}
.facilities{
    color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 500;

}
.admission{
    color: rgb(93, 88, 239);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 500;
}

.btn-nav{
    border-radius: 12px;
    background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
width: 197px;
height: 50px;
gap: 10;
padding: 10px;

}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px;
    margin: 140px 140px;
   
}
.banner-content{
    width: 100%;
}
.banner-content h3{
    width: 100%;
    font-family: Quicksand;
font-size: 3.5rem;
font-weight: 700;

}
.banner-content p{
    font-size: 1.25rem;
font-weight: 400;
color: rgb(17, 17, 17);
color: rgb(17, 17, 17);
color:rgb(17, 17, 17); 
}
.banner-img{
  width: 100%;
}
/* card section */
.card-section{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: 140px;
    margin-right: 140px;
}
.card-title{
    text-align: center;
}
.card-content-title{
    text-align: center;
}
.card-contners{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 80px ;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
   
}
.card-contnet-1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
padding: 40px;
}
.card-content-2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
padding: 40px;
}
.card-content-3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
padding: 40px;
}

.card-content-p h3{
    font-size: 24px;
    margin-top: 32px;

}
.card-content-p p{
    font-size: 14px;
    margin: 32px 40px 32px 40px;

}
.btn-3{
    color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
border: none;
}
.btn-2{
    color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
border: none;
}
.btn-1{
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
border: none;
}
.card-symble{
    color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 24px;
font-weight: 900;
    border-radius: 30px;
background: rgb(254, 163, 1);

}
.card-final{         
    text-align: center;
    gap: 10px;
}
/* story section */
.story{
    background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}


.story-section{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    gap: 20px;
}

.story-primary{
    position: relative;
    width: 100%;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.primary-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
background: url(),rgb(217, 217, 217);
}
.story-primary-content h4{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 1.5rem;
font-weight: 700;
padding: 30px 40px 10px 60px;
}
.story-primary-content p{
    color: rgb(102, 102, 102);
font-size: 15.34px;
font-weight: 500;
padding: 10px 40px 30px 60px;
}
.secondary-story-container{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

   
}
.secondary-story-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
background: url(),rgb(255, 255, 255);
}
.secondary-story{
    position: relative;
    width: 100%;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.secondary-story h5{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
padding: 10px 45px;

}
.story-btn{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.story-title{
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;

}
.story-date{
    position: absolute;
   top:48% ;
   left: 10%;
    width: 150px;
height: 30px;
text-align: center;
color: #fff;

}

.color-5{
    position: absolute;
    border-radius: 20px;
background: rgb(60, 216, 232);
width: 150px;
height: 30px;
top:60% ;
   left: 10%;

}


/* footer section */
.footer{
    background: rgb(1, 172, 253);
    border-radius: 5px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-img{
    display: flex;
}
.footer-ul{
    list-style: none;
}
.social-media{
    display: flex;
}
.footer-content{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
}





 @media screen and (max-width:576px) {
    
    .body{
        margin-left:  16px;
        margin-right: 16px;
    }
    .nav-logo-title,.nav-ul li,.nav-btn, .marquee
    {
        display: none;
    }
  .icon{
    display: inline-block;

  }
    .nav-section{
        margin: 0px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .banner{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* padding: 20px 0px 20px 0px; */
        margin: 0px;
      
    }
    /* .banner-p{
        width: 100%;
    } */
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }
    .banner-content h3{
        font-size: 32px;
    }
    .card-contners{
        flex-direction: column;
    }
    .footer-content{
        flex-direction: column;
        gap: 30px;
    }
    .card-section{
        margin-top: 40px;
        /* width: 100%; */
}
/* .card-content-2, .card-content-3,.card-contnet-1{
    width: 320px;
height: 300px;
} */
.card-content-p h3{
    font-size: 16px;
    
}
.card-content-p p{
    font-size: 10px;
}
.card-symble{
    display: none;
}
.story-section{
    margin: 0px;
    padding:  0px 5px 0px 5px;
}
.story-primary{
    display: none;
}
.story-date{
    width: 70px;
    height: 15px;
    top: 55%;
    left: 10%;
    font-size: 5px;

}
.secondary-story{
    max-width: 100%;
}
.secondary-story h5{
    font-size: 7px;
}


 } 
